# Configuración del Servidor
PORT=3000
NODE_ENV=development

# Base de Datos (Coloca aquí las variables, pero vacías o con texto de guía)
DB_HOST=localhost
DB_USER=tu_usuario_de_bd
DB_PASSWORD=tu_contraseña_de_bd
DB_NAME=nombre_de_tu_bd

# Seguridad (Tokens JWT)
JWT_SECRET=escribe_un_texto_largo_y_seguro_aqui

# Servicios Externos
STRIPE_API_KEY=tu_stripe_api_key_de_pruebas